{% extends "base.html" %}
{% load static %}

	{% block head%}
	{{ block.super }}
	<title>{{ album.album_title }}</title>
	<link rel="stylesheet" media="screen and (min-width: 770px)" href="{% static '/styles/best.css' %}">
	<link rel="stylesheet" media="screen and (max-width: 770px)" href="{% static '/styles/best_mob.css'%}">
	<link rel="stylesheet" href="{% static '/styles/scroll.css' %}">
	<script src="{% static '/js/photoengine.js' %}"></script>
	{% endblock%}



    {% block content%}

	<h1>{{ album.title }}</h1>
	{% if album.show_description %}
		{% if album.description %}
		<p>
			{{ album.description }}
		</p>
		{% endif %}
	{% endif %}

	<section>
		{% block photo_section %}
		{% endblock %}
	</section>
	
    {% endblock  %}
	

	{% block modal %}
	<div id="big_pic" class="picplace" onclick="closer(this)">
		<img src="">
	</div>
		{% include 'includes/scroll_button.html'%}
	{% endblock  %}

	