.menu-container > ul {
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 20px 0px;
    text-align: center;
    background: rgb(255, 255, 255);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
}

.menu-container > ul > li > a,
.menu-container > ul > li > span {
    margin: 0 25px 0 25px;
}

.menu-container > ul a,
.menu-container > ul span {
    font-family: 'Prosto One', cursive;
    letter-spacing: 2px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}

.menu-container > ul li ul a,
.menu-container > ul li ul span {
    padding: 8px 10px 8px 10px;
    margin: 0 10px 0 10px;
}

.menu-container li ul {
    position: absolute;
    width: 220px;
    display: none;
    background: rgb(255, 255, 255);
    border-right: solid 5px rgb(126, 126, 126);
}

.menu-container > ul > li > ul {
    padding-left: 0;
    padding-top: 2px;
}

.menu-container li > ul li ul {
    position: absolute;
    right: -220px;
    top: 0;
}

.menu-container li > ul li:nth-child(7) ul {
    top: -207px;
}

.menu-container li > ul li:nth-child(2) ul {
    top: -20px;
}

.menu-container li {
    list-style-type: none;
    text-align: left;
}


.menu-container > ul li {
    display: inline-block;
    height: 100%;
    position: relative;
}

.menu-container > ul > li > ul li {
    width: 100%;
}

.menu-container li:hover > ul{
    display: block;
}

.menu-container > ul li ul a:hover,
.menu-container > ul li ul span:hover,
.menu-container > ul a:hover,
.menu-container > ul span:hover {
    color: #919191;
}

.menu-container > ul > li:after {
    content: "|";
    color: #000000;
    display: inline-block;
    vertical-align: top;
}

.menu-container > ul li:last-child:after {
    content: none;
}

.menu-container ul > li > ul > li > span::after {
	content: ">";
}

