p {
    text-align: center;
}

h1 {
	text-align: center;
    margin-top: 70px;
    color: white;
    background: url(/static/dis/fon_h.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h4 {
	text-align: center;
    margin-top: 30px;
    padding: 0;
}

div {
	text-align: center;
}

.MA {
    border: 2px solid rgb(126, 126, 126); /* Рамка вокруг фотографии */
    padding: 15px; /* Расстояние от картинки до рамки */
    background: #ffffff; /* Цвет фона */
    margin-right: 0px; /* Отступ справа */
    margin-left: 50px;
    margin-bottom: 0px; /* Отступ снизу */
    margin-top: 10px;
    width: 400px;
}
