{% extends "admin/albums/change_form_original_base.html" %}

{% block extrahead %}
{{ block.super }}
<script type='module'>
    import {showResultMarkOnPreview} from '/static/admin/photo_dropzone/js/functions.js';

    document.addEventListener("DOMContentLoaded", function() {
        const uploadButton = document.querySelector('input[name="_upload_photos"]');
        uploadButton.addEventListener('click', sendForm);
        const csrftoken = getCookie('csrftoken');
        let sending = false;

        async function sendForm() {
          let form = new FormData(document.querySelector('form[id="album_form"]'));
          let selectedElement  = document.querySelector('#dropzone-select')
          let selectedValue = document.querySelector('#dropzone-select').value
          let selectedCategoryID = null

          let current_month = (new Date(Date.now()).getMonth+1).toString();
          let current_day = (new Date(Date.now()).getDate()).toString();
          let current_year = (new Date(Date.now())).getFullYear();
          let selectedYear = `${current_day}-${current_month}-${current_year}`;

          if (selectedElement.classList.contains('year-select')) {
            selectedYear = selectedValue;
          }
          else if (selectedElement.classList.contains('subcategory-select')) {
            selectedCategoryID = selectedValue;
          }

          if (sending) {
            alert ('УЖЕ ГРУЗИТСЯ');
            return;
          }
          else {
            sending = true;
            for (const {id, file} of ExchangeHubV1.onUploadFiles) {
              form.set('upload_photos', file);
              form.set('selected_category', selectedCategoryID)
              form.set('specific_year', selectedYear)
              let response = await sendFormWithSingleFile(form);
              if (response.ok) {
                let answer = response.text();
                ExchangeHubV1.alreadyUploadedFilesIds.add(id);
                showResultMarkOnPreview(id);
              } else {
                showResultMarkOnPreview(id, false);
              }
            }
            ExchangeHubV1.onUploadFiles = ExchangeHubV1.onUploadFiles.filter(
              x => !ExchangeHubV1.alreadyUploadedFilesIds.has(x.id) );

            sending = false;
            }
        };
        async function sendFormWithSingleFile (form) {
          let response = await fetch('/staff/albums/{{ opts.model_name }}/{{ object_id }}/upload_photos/', {
            method: 'POST',
            body: form
          });
          return response;
        }

        function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                  const cookie = cookies[i].trim();
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      };
        });

    
</script>
{% endblock %}

{% block content %}

<div id="dialogueWindow" class="modal" hidden>
  <div class="modal-content">
      <span class="close-button">&times;</span>
      <h2 class='dialogue-header'></h2>
      <input type='text' class='dialogue-input'></input> <br>
      <div class='modal-error-message'></div>
      <button id="confirmButton" class='submit-modal-button'>Confirm</button>
  </div>
</div>
{{ block.super }}
{% endblock %}

