<div>
    <div class="menu-icon menu-menu"></div>
</div>
<div class="menu-overlay" style="display: none;"></div>
<div class="menu-positioner">
    <div class="menu-wrapper menu-wrapper_animate">
        <div class="menu-container">
            <ul>
                <li><a href="{% url 'static_site:index'%}">Главная</a></li>
                    {% for highest_section, daughter_sections_and_albums in sections.items %}        
                        {%with dict=daughter_sections_and_albums template="includes/treedict.html"%}
                            <li><span>{{ highest_section | upper }}</span>
                            <ul>
                                {% include template %}
                            </ul>
                            </li>
                            {% endwith %}
                    {% endfor %}
                {% for album in best_albums %}
                    <li><span><a href="{% url 'albums:album' album_slug=album.slug %}">{{ album.title | upper }}</a></span>
                {% endfor %}
                <li><a href="{% url 'static_site:contacts'%}">Контакты</a></li>
            </ul>
        </div>
    </div>
</div>