<div>
    <div class="menu-icon menu-menu"></div>
</div>
<div class="menu-overlay" style="display: none;"></div>
<div class="menu-positioner">
    <div class="menu-wrapper menu-wrapper_animate">
        <div class="menu-container">
            <ul>
                <li><a href="{% url 'pillow_testing:index'%}">Главная</a></li>
                {% for nav_bar_item in nav_bar_items %}
                {% if nav_bar_item.category == 'Избранное' %}
                    {% for albumset in  nav_bar_item.albumsets %}
                        {% for album in albumset.albums%}
                            <li><a href='/album/{{album.album_slug}}'>{{ nav_bar_item.category}}</a></li>
                        {% endfor %}
                    {% endfor %}
                    
                {% else %}
                <li><span>{{ nav_bar_item.category }}</span>
                    <ul>
                        {% for albumset in  nav_bar_item.albumsets %}  
                            {% if  albumset.albums|length == 1 %}
                                {% for album in albumset.albums%}
                                    <li><a href='/album/{{album.album_slug}}'>{{ albumset.albumset.album_set_title}}</a></li>
                                {% endfor %}
                            {% else %}
                                <li><span>{{ albumset.albumset.album_set_title }} </span>
                                    <ul>
                                        {% for album in albumset.albums%}
                                        <li><a href='/album/{{album.album_slug}}'>{{ album.album_title}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor%}
                    </ul>
                </li>
                {% endif%}
                {% endfor %}
                <li><a href="{% url 'pillow_testing:contacts'%}">Контакты</a></li>
            </ul>
        </div>
    </div>
</div>